# YouTube Statistics:
#### Source: https://www.kaggle.com/datasnaek/youtube-new/data 

YouTube (the world-famous video sharing website) maintains a list of the top trending videos on the platform. According to Variety magazine, “To determine the year’s top-trending videos, YouTube uses a combination of factors including measuring users interactions (number of views, shares, comments and likes). Note that they’re not the most-viewed videos overall for the calendar year”. Top performers on the YouTube trending list are music videos (such as the famously virile “Gangam Style”), celebrity and/or reality TV performances, and the random dude-with-a-camera viral videos that YouTube is well-known for.
This dataset is a daily record of the top trending YouTube videos.
Note that this dataset is a structurally improved version of this dataset.

In [10]:
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import json
import psycopg2
import datetime

# Data Description

The Kaggle dataset includes several months of data on daily trending YouTube videos. Data is included for the US, GB, DE, CA, and FR regions (USA, Great Britain, Germany, Canada, and France, respectively), with up to 200 listed trending videos per day.

#### Project focus was on the North America: USA & Canada 

Data is available is split into a ***CSV dataset***  and a ***JSON*** datasets. 
CSV contains the following data: 
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description]

The JSON includes a **category_id** field, which varies between regions. To retrieve the categories for a specific video, it has to be parsed from the associated JSON. One such file is included for each of the five regions in the dataset.

*The category_id field in JSON can be used to join the category_id in the CSV*

# Data Loading

In [2]:
#Data sources are csv & json downloaded from Kaggle  (see above)

us_video_file = "Resources/USvideos.csv"
ca_video_file = "Resources/CAvideos.csv"
us_video_json_file = "Resources/US_category_id.json"
ca_video_json_file = "Resources/CA_category_id.json"

us_video_df = pd.read_csv(us_video_file)
ca_video_df = pd.read_csv(ca_video_file)

# add  country code as new dataset column
us_video_df['country'] = 'USA'
ca_video_df['country'] = 'CA'

# Data Transformation

In [21]:
# merge US and Canada videos dataframe
merge_video_df = [us_video_df, ca_video_df]
us_ca_video_df = pd.concat(merge_video_df)

# removed error videos from US and Canada
new_us_video_df = us_ca_video_df[us_ca_video_df.video_error_or_removed != True ]

# create new dataset with only columns we need
new_us_video_df = new_us_video_df[['video_id', 'trending_date','title', 'category_id', 'views', 'likes', 'dislikes', 'comment_count', 'country']].copy()

# Add a fixed string "20" to get it as "YYYY.DD.MM"
new_us_video_df['trending_date'] = '20' + new_us_video_df['trending_date'].astype(str)

#Replace . with /
new_us_video_df['trending_date'] = new_us_video_df['trending_date'].str.replace('.','/')

#Convert date format 
new_us_video_df['trending_date'] = pd.to_datetime(new_us_video_df['trending_date'], format='%Y/%d/%m')

new_us_video_df.head()

,video_id,trending_date,title,category_id,views,likes,dislikes,comment_count,country
0,2kyS6SvSYSE,2017-11-14,WE WANT TO TALK ABOUT OUR MARRIAGE,22,748374,57527,2966,15954,USA
1,1ZAPwfrtAFY,2017-11-14,The Trump Presidency: Last Week Tonight with J...,24,2418783,97185,6146,12703,USA
2,5qpjK5DgCt4,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",23,3191434,146033,5339,8181,USA
3,puqaWrEC7tY,2017-11-14,Nickelback Lyrics: Real or Fake?,24,343168,10172,666,2146,USA
4,d380meD0W0M,2017-11-14,I Dare You: GOING BALD!?,24,2095731,132235,1989,17518,USA

In [22]:
#JSON contain Youtube video category ID and Title - extract from JSON & create a dataframe
ids = []
titles = []
us_category_df = pd.DataFrame()
with open(us_video_json_file) as data_file:
   data = json.load(data_file)
#Extract IDs
   for i in range(0,len(data["items"])):
       ids.append(data["items"][i]["id"])
# Extract Titles
for i in range(0, len(data["items"])):
   titles.append(data["items"][i]["snippet"]["title"])
us_category_df["category_id"] = ids
us_category_df["category_title"] = titles
us_category_df.head()

  category_id    category_title
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports

# Data Load
### Load data into a Postgres Database

1) Create a database "youtube_db" in Postgres <br>
2) create 2 tables "youtube_data" and "youtube_category" <br>
3) Load the CSV data and category data into the tables

In [23]:
#Connect to postgres & load the SQL database youtube_db: 
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/youtube_db')
connection = engine.connect()

In [24]:
# Confirm table names
engine.table_names()

['youtube_category', 'youtube_data']

In [25]:
# Load csv data into table youtube_data:
new_us_video_df.to_sql(name='youtube_data', con=engine, if_exists='append', index=False)

In [13]:
#Load JSON data into table youtube_category
us_category_df.to_sql(name='youtube_category', con=engine, if_exists='append', index=False)

# Some Analysis of US Videos

In [29]:
# Execute the SQL for seeing total views by category in descending order in USA
results = engine.execute("select b.category_title, sum(a.views) \
                        from youtube_data a, youtube_category b \
                        where a.category_id = b.category_id \
                        and a.country = 'USA' \
                        group by category_title \
                        order by sum(a.views) DESC").fetchall()
results

[('Music', 40132892190),
 ('Entertainment', 20597267426),
 ('Film & Animation', 7253169649),
 ('Comedy', 5117426208),
 ('People & Blogs', 4917191726),
 ('Sports', 4404451442),
 ('Howto & Style', 4078545064),
 ('Science & Technology', 3487756816),
 ('Gaming', 2141218625),
 ('News & Politics', 1473765704),
 ('Education', 1180629990),
 ('Pets & Animals', 764651989),
 ('Autos & Vehicles', 520690717),
 ('Travel & Events', 343557084),
 ('Nonprofits & Activism', 168941392),
 ('Shows', 51501058)]

In [31]:
# Query to see which title had most views [top 20] and which category: 
results2 = engine.execute("select a.title, a.trending_date,a.views, b.category_title \
                        from youtube_data a, youtube_category b \
                        where a.category_id = b.category_id \
                        and a.country = 'USA'\
                        order by views desc LIMIT 20").fetchall()
results2

[('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 6, 2), 225211923, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 6, 1), 220490543, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 31), 217750076, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 30), 210338856, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 29), 205643016, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 28), 200820941, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 27), 196222618, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 26), 190950401, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 25), 184446490, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 24), 179045286, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 23), 173478072, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 22), 167997997, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 21), 162556776, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 20), 156612892, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 19), 149830680, 'Music'),
 ('YouTube Rewind: The Shape of 2017 | #YouTubeRewind', datetime.date(2017, 12, 14), 149376127, 'Entertainment'),
 ('Ariana Grande - No Tears Left To Cry', datetime.date(2018, 5, 14), 148689896, 'Music'),
 ('Childish Gambino - This Is America (Official Video)', datetime.date(2018, 5, 18), 142421830, 'Music'),
 ('Becky G, Natti Natasha - Sin Pijama (Official Video)', datetime.date(2018, 5, 15), 139334502, 'Music'),
 ('YouTube Rewind: The Shape of 2017 | #YouTubeRewind', datetime.date(2017, 12, 13), 137843120, 'Entertainment')]